<div class="container">
  <spinner name="mySpinner" on-loaded="fbCtrl.getResource()">
    <div class="overlay">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="please-wait">Please Wait...</div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </spinner>
</div><!-- /.container -->
<div class="container start">
  <section id="header">
    <a href="#/">
      <div id="logoStart"></div>
    </a>
  </section><!-- /#header -->
  <div class="row">
    <div class="col-md-6">
      <app-Input></app-Input>
    </div>
    <div class="col-md-6">
      <div ng-show="!fbCtrl.facebookLogFlag">
        <h1>Login with Facebook</h1>
        <p>(We will get your music likes. Nothing will be post on your wall.)</p>
        <p>It is only developer version of application, so there is no cahnce for other users to log via Facebook.</p>
        <button class="fbLogin" ng-click="fbCtrl.logIn()">Login with Facebook</button>
      </div>
      <div ng-show="fbCtrl.facebookLogFlag">
        <h1>You are logged in</h1>
        <button class="btn btn-danger" ng-click="fbCtrl.changePath()">Go to player</button>
        <button class="fbLogoutStart" ng-click="fbCtrl.logOut()">LogOut from Facebook</button>
      </div>
    </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
</div><!-- /.container start -->

