<div class="row">
  <nav class="navbar navbar-default">
    <div class="container">
      <a  class="logo"
          href="#/" >
        <img  src="./assets/images/logo.png"
              class="logoImg">
      </a><!-- /.favourite-playlist -->
      <div class="player-controlls">
        <span class="glyphicon glyphicon-play controlls"
              ng-click="navBarCtrl.play()"></span>
        <span class="glyphicon glyphicon-pause controlls"
              ng-click="navBarCtrl.pause()"></span>
        <span class="glyphicon glyphicon-stop controlls"
              ng-click="navBarCtrl.stop()"></span>
        <span class="glyphicon glyphicon-fast-forward controlls"
              ng-click="navBarCtrl.next()"></span>
        <div class="volume-wrapper">
          <span class="glyphicon controlls"
                ng-click="navBarCtrl.mute();"
                ng-class="{'glyphicon-volume-up' : !navBarCtrl.muted, 'glyphicon-volume-off' : navBarCtrl.muted  }"
                ></span>
          <input  type='range'
                  min='0'
                  max='100'
                  step='1'
                  class="volumeInput"
                  ng-model="navBarCtrl.volume"
                  ng-change="navBarCtrl.setVolume()"></input>
        </div><!-- /.favourite-playlist -->
      </div><!-- /.player-controlls -->

      <favourite ng-show="navBarCtrl.inputApproachFlag.approachFlag"></favourite>

      <img  id="profilePicture"
            ng-src="{{navBarCtrl.profilePictureUrl}}"
            ng-if="navBarCtrl.facebookLogFlag" >

      <button ng-show="navBarCtrl.facebookLogFlag"
              ng-click="navBarCtrl.logOut()"
              class= "fbLogout">
        <img src="./assets/images/fbIcon.png">
      </button>
    </div><!-- /.container -->
  </nav><!-- /.navbar navbar-default -->
</div><!-- /.row -->
