<div class="container">
  <spinner name="mySpinner" on-loaded="main.getResource()">
    <div class="overlay">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="please-wait">Please Wait...</div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </spinner>

  <nav-bar></nav-bar>

  <div class="row">
    <div class="col-md-12">
      <section id = "linkContainer">
        <div class="row" ng-show = 'main.artistsArrayTrimmed.length > 0'>
          <a  href="#/allArtists"
              class="btn btn-danger btn-lg "
              role="button"
              ng-class="{currentArtist : !main.routeArtist}">All Artists</a>
          <div class="col-md-4" ng-repeat = "artist in main.artistsArrayTrimmed
                              | limitTo: main.pageSize : (main.currentPage - 1)*main.pageSize  ">
            <a  ng-click = "main.keepPage()"
                href="#/allArtists/{{artist}}"
                class="btn btn-danger btn-lg "
                role="button"
                ng-class="{currentArtist : main.routeArtist  == artist }"
                >{{artist}}</a>
          </div>
        </div>

        <div class="arrows">
          <div  class="arrow-left" id="linkLeftArrow"
                ng-if="main.currentPage != 1">
            <span class="glyphicon glyphicon-chevron-left"
                  ng-click="main.currentPage=main.currentPage - 1"></span>
          </div>
          <div  class="arrow-right" id="linkRightArrow"
                ng-if="main.currentPage < main.artistsArrayTrimmed.length/main.pageSize ">
            <span class="glyphicon glyphicon-chevron-right"
                  ng-click="main.currentPage = main.currentPage + 1"></span>
          </div>
        </div>
        <div class="rangePaginationBar"
              ng-if='main.artistsArrayTrimmed.length > main.pageSize '>
          <uib-pagination
                direction-links = 'false'
                boundary-link-numbers = 'true'
                rotate = 'true'
                max-size = '5'
                force-ellipses = 'true'
                items-per-page = "main.pageSize"
                total-items="main.artistsArrayTrimmed.length"
                ng-model="main.currentPage"
                >
          </uib-pagination>
        </div>

      </section>
    </div>
  </div>
  <youtube-player-container></youtube-player-container>


</div>


