<div class="container-fluid">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>


  <form name = 'artistsForm' ng-submit = 'main.splitArtists()'>
    <textarea class="form-control" rows="3" placeholder="What artists you want to listen?" 
              ng-model="main.artistsList"></textarea>
    <button type="submit" class="btn btn-default" >Generate</button>
  </form>

<!--   <div id="results"  ng-repeat = "clip in main.clips">
      <iframe width='300' height='200' frameborder='0' allowfullscreen
              ng-src= "{{main.trustLink(main.getIframeSrc(clip.id.videoId))}}"></iframe>
  </div> -->


  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="clip in main.clips">
      <iframe width='300' height='200' frameborder='0' allowfullscreen
              ng-src= "{{main.getTrustedIframeSrc(clip.id.videoId)}}"></iframe>
      </div>
  </div>

</div>
