

html, body {
	height: 100%;
  background: url("/assets/images/1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    background-color: #fff;
    background: rgba(25, 25, 25, .5);
}
.navbar {
    background-color: #fff;
    background: rgba(0, 0, 0, .7);
    border: none;
    padding: 10px 0px;
    position: fixed;
    z-index: 100;
    top:0;
}
.navbar-collapse .glyphicon {
  font-size: 35px;
  color:#fff;
}

.navbar-collapse span.controlls {
  color:#fff;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-collapse span.controlls:hover {
  color:#333;
}

.player-controlls {
  float:left;
  /*margin-left:250px;*/
}

.vol-container {
  display: inline-block;
  color:#fff;
  margin-left: 40px;
}
.vol-container span {
  float:left;
  margin-top: 10px;
}
.vol-container input {
  color:#000;
  width: 70%;
  float:left;
  margin-top:28px;
  margin-left:10px;
}
input[type=range] {
    background: #D9534F;
    -webkit-appearance: none;
    height: 4px;
}
input[type=range]::-webkit-slider-thumb {
    background: #D9534F;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
}

/*PLAYER*/
#player {
  position: relative;
  padding-bottom: 52%;
  padding-top: 20px;
  height: 0;
}

#player iframe,
#player object,
#player embed {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/*PLAYER LIST*/

.vid-list-container {
  width: 92%;
  overflow: hidden;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.vid-list {
  position: relative;
  top:0;
  left: 0;
}
.vid-item {
  display: block;
  height: 230px;
  margin: 0;
  padding: 10px;
}
.thumbnails  {
  overflow: hidden;
  height: 140px;
}
.thumbnails img {
  width: 100%;
  position: relative;
}
.description {
  color: #fff;
  font-size: 15px;
  margin-top:5px;
}
.description:hover {
  text-decoration: underline;
}

.selected {
  border-color: rgba(175, 47, 47, 0.1);
  background-color: rgba(228, 228, 235, 0.3);
}
/*ARROWS*/

.arrows {
  position:relative;
  width: 100%;
}

.arrow-left {
  color: #fff;
  position: absolute;
  background: #d9534f;
  padding: 5px;
  left: -58px;

  cursor: pointer;
}

.arrow-right {
  color: #fff;
  position: absolute;
  background: #d9534f;
  padding: 5px;
  right: -58px;

  cursor: pointer;
}
.arrow-right span, .arrow-left span {
  font-size: 50px;
}

#linkLeftArrow, #linkRightArrow {
  top:12px;
}
#vidLeftArrow, #vidRightArrow {
  top:-12px;
}

.arrow-left:hover, .arrow-right:hover{
  background: #d43f3a;
}

/*Reposition left & right arrows on small screens*/

@media (max-width: 624px) {
  .arrows {
    position:relative;
    margin: 0 auto;
    width:96px;
  }
  .arrow-left {
    left: 0;
    top: -20px;
  }

  .arrow-right {
    right: 0;
    top: -20px;
  }
}

/*Video Controlls*/

#current-time {
  display: inline-block;
  margin-left: 15px;
  margin-top: 7px;
  float:right;
  color:#fff;
  font-size: 25px;
}
#progress-bar {
  margin-bottom: 15px;
}

/*///*/

/*FACEBOOK BUTTON*/

button.fbLogin {
  margin: 0 auto;
  padding-right: 45px;
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family:"Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 205px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
  border-color: #2d5073;
  background-color: #3b5998;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
button.fbLogin:hover {
  background-color: #8b9dc3;
}
button.fbLogout {
  margin: 10px auto;
  padding-right: 45px;
  height: 46px;
  background: none;
  border: none;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
  border-color: #2d5073;
  background-color: #3b5998;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
button.fbLogout:hover {
  background-color: #8b9dc3;
}
.col-md-6 h1 {
  color:#fff;
  text-align: center;
  font-size: 25px;
}
.col-md-6 p {
  color:#fff;
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.btn-danger {
	display: block;
	margin: 30px auto;
}

.vid-container {
	padding: 15px;
  text-align:center;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section#linkContainer {
	padding: 15px 15px 0px 15px;
  margin-top: 85px;
  text-align: center;
}

section#linkContainer div {
	display: block;
	padding:5px;
}

section#linkContainer div a {
	display: block;
	margin:5px;
	font-size:17px;
}

.currentArtist {
  background-color:#c9302c;
  border: 1px solid #fff;
  font-weight: bold;
}

input.form-control {
	margin: 10px auto 20px auto;
	color:#000;
	font-size: 20px;
}
#form h1 {
	color:#fff;
	text-align: center;
	font-size: 25px;
}
#form p {
	color:#fff;
	text-align: center;
	font-size: 14px;
	margin-bottom: 30px;
}
section.videoList{
	margin-bottom: 30px;
}
img:hover {
	opacity: 0.5;
}
#footer {
	text-align: center;
	color: #fff;
	padding: 10px 0;
}
#footer p {
  margin: 23px 0;
}
#footerContainer {
  margin-top:30px;
  background-color: #fff;
  background: rgba(0, 0, 0, .7);
}
#logoStart{
  background-image: url('/assets/images/logo.png');
  width: 150px;
  height: 150px;
  background-size: 190%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 30px auto;
}
#logoAfter{
background-image: url('/assets/images/logo.png');
    width: 57px;
    height: 150px;
    background-size: 200%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: -59px auto;
}

#logo a{
	position: absolute;
	top: 30%;
	left:8%;
  color:#fff;
  text-align: center;
  font-size: 25px;
}
input.ng-invalid {
	border-color:#ff8888;
}
input.ng-valid {
	border-color: #78FA89;
}

input:-webkit-input-placeholder {
	border-color: green;
	font-size: 11px;
	text-align: left;
}
input:-moz-placeholder { /* Firefox 18- */
	border-color: green;
	font-size: 16px;
	text-align: left;
}
input:-moz-placeholder {  /* Firefox 19+ */
	border-color: green;
	font-size: 16px;
	text-align: left;
}
input:-ms-input-placeholder {
	border-color: green;
	font-size: 16px;
	text-align: left;
}

.rangePaginationBar  {
  margin-top:6px;
}

.rangePaginationBarVideos {
  margin-top:6px;
}

.pagination{
  margin: 0px;
  padding:0px;
}

li.pagination-page>a {
  font-size:20px;
  color:#fff;
  background-color: #d9534f;
  border: none;
}

li.pagination-page>a:hover {
  font-size:20px;
  color:#fff;
  /*border: 1px solid #fff;*/
  background-color: #c9302c ;
}
.pagination > .active > a {
  font-weight: bold;
  border: 1px solid #fff;
  background-color: #c9302c ;
}
.pagination > .active > a:hover {
  font-weight: bold;
  border: 1px solid #fff;
  background-color: #c9302c ;
}

.pagination > li > a {
  margin: 0px 5px;
  min-width: 50px;
}

#profilePicture {
  float:left;
  margin-right: 10px;
  margin-top: 8px;
}
img#profilePicture:hover {
  opacity: 1;
}
