body {
	background-color: #333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.description {
	float: left;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  display: block;
  margin-left: 55px;
  width: 150px;
}
.thumbnails  {
	padding:5px;
	overflow: hidden;
}

.btn-default {
	display: block;
	margin: 0 auto;
}

.vid-container {
	padding: 15px;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section#linkContainer {
	padding:15px;
}

section#linkContainer div {
	display: block;
	/*margin: 0 auto;*/
	padding:5px;
}

section#linkContainer div a {
	display: block;
	margin:5px;
	background-color: #3b5998;
	color: #eff3ff;
	font-size:17px;
}
section#linkContainer div a:hover {
	background-color: #8B9DC3;
	color: #fff;
}
textarea.form-control {
	width: 484px;
	margin: 10px auto 20px auto;
}
section.videoList{
	margin-bottom: 30px;
}
section #footer {
	text-align: center;
	color: #fff;
	padding: 10px 0;
	margin: 30px 0;
}

#logo{
	text-align: center;
	color:#fff;
}