<section id="player">
   <div class = "row">
    <div class = "col-md-12">
      <div class="vid-container" >
        <youtube-player videoid="main.videoId"></youtube-player>
        <span class="glyphicon glyphicon-play" ng-click="main.sendControlEvent(main.YT_event.PLAY)"></span>
        <span class="glyphicon glyphicon-pause" ng-click="main.sendControlEvent(main.YT_event.PAUSE)"></span>
        <span class="glyphicon glyphicon-stop" ng-click="main.sendControlEvent(main.YT_event.STOP)"></span>
        <div id="current-time">{{ ytContainer.currentTime }}</div>
        <div id="duration">{{ ytContainer.duration }}</div>
      </div>
    </div>
  </div> 
</section>
