<section id="form">
	<form name = 'artistsForm' novalidate ng-submit = 'artistsForm.$valid && main.generateArtists()' >
	<h1> Write music artists. I will generate playlist.</h1>
	<p>(artists have to be seperated by coma)</p>
	  <textarea class="form-control" 
	  			rows="3" 
	  			placeholder="What artists you want to listen?" 
	            ng-model="main.artistsList"
	            ng-required="true"></textarea>
	  <button type="submit" class="btn btn-default" >Generate</button>
	</form>  
</section>